{% extends "PadreHome.html" %}

{% block avatar %}
<a class="navbar-brand" href={% url 'perfil' user.id %}><img height="200px" src="" alt="">{{user}}</a>
<br>
<a class="navbar-brand" href={% url 'perfil' user.id %}><img height="600px" src="{{ imagen }}" alt=""></a>
{% endblock %}

{% block nav %}

<li class="nav-item"><a class="nav-link" href={% url 'portal' %}>Portal</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'postear' %}>Agregar destino</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'verposteo' %}>Ver destinos</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'mensajeUsuarios' %}>Mensajería</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'desconectarse' %}>Desconectarse</a></li>
{% csrf_token %}
{% endblock %}


{% block titulo %}

{% endblock %}

{% block contenido %} 
<center>

    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <hr class="my-4" />
          <h2 class="post-title text-center">Casilla de Mensajes</h2>
          <div class="btn-group d-flex justify-content-center mt-3" role="group">
            <a class="btn btn-primary text-uppercase" href="{% url 'chat' %}">Enviar mensaje</a> 
            <a class="btn btn-primary text-uppercase" href="{% url 'leerMensaje' %}">Mensajes recibidos</a>
            <a class="btn btn-primary text-uppercase" href="{% url 'enviadoMensaje' %}">Mensajes enviados</a>
          </div>
          <table class="table mt-5">
            <thead>
                <tr>
    
                <th id="msjT">Para</th>
                <th id="msjT">Mensajes</th>
                <th id="msjT">hora</th>
                <th id="msjT">leido</th>
    
              </tr>
            </thead>
            <tbody>
              {% for casilla in mensajes %}
              <tr>
                <td id="msj">{{ casilla.entrada }}</td>
                <td id="msj">
                    <div id="barra">{{ casilla.mensaje|safe }}</div>
                </td>
                <td id="msj">{{ casilla.tiempo }}</td>
                <td id="msj">{{ casilla.leido }}</td>
                <td id="msj">
                  <form action="{% url 'borrarMensaje' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Borrar">
                    <input type="hidden" name="id" value="{{ casilla.id }}">
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    
    
</center>

{% endblock %}
