#tmsj {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#msjT {
border: 1px solid #000; 
width: 25%; 
padding: 0.3em;
}

#msj {
    text-align: center; 
    border: 1px solid #000; 
    width: 25%; 
    border-spacing: 0; 
    padding: 0.3em;
}
