{% extends "PadreHome.html" %}

{% block nav %}
<li class="nav-item"><a class="nav-link" href={% url 'postear' %}>Agregar un nuevo destino</a>
<li class="nav-item"><a class="nav-link" href={% url 'verposteo' %}>Ver destinos</a>
<li class="nav-item"><a class="nav-link" href={% url 'desconectarse' %}>Desconectarse</a></li>
{% csrf_token %}
{% endblock %}


{% block titulo %}
{% endblock %}


{% block contenido %} 

<img height="200px" src="{{ imagen }}" alt="">



<form action="{% url 'fotoPerfil'  %}" method="POST"  enctype="multipart/form-data"> {% csrf_token %}

    <table>
    
        {{ formulario.as_table }}
    
    </table>
    
    <input type="submit" value="Agregar Imagen">
    
    
    </form>

 {% endblock %}