{% extends "PadreHome.html" %}

{% block avatar %}
<a class="navbar-brand" href={% url 'perfil' %}><img height="200px" src="" alt="">{{user}}</a>
<br>
<a class="navbar-brand" href={% url 'perfil' %}><img height="600px" src="{{ imagen }}" alt=""></a>
{% endblock %}

{% block nav %}

<li class="nav-item"><a class="nav-link" href={% url 'portal' %}>Portal</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'postear' %}>Agregar destino</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'verposteo' %}>Ver destinos</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'mensajeUsuarios' %}>Mensajería</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'desconectarse' %}>Desconectarse</a></li>
{% csrf_token %}
{% endblock %}


{% block titulo %}
<h1 style="color:black">Editar usuario</h1>
{% endblock %}

{% block contenido %} 
<center>
<body>
    <br> 
    {% if user.is_authenticated or user.is_superuser %}   
    <form method="post" action="{% url 'editarusuario' %}"> {% csrf_token %}
        <table>

            {{ form.as_table }}

        </table>
        <br>
        <input class="btn btn-primary btn-s text-uppercase" type="submit" value="Editar Usuario">
    </form>
    {% else %}
            No tenes permisos para editar este usuario
    {% endif %}
    <br>
</body>   
</center>
{% endblock %}

{% block portfolio %}
{% endblock %}

 