{% extends "PadreHome.html" %}

{% block nav %}
<li class="nav-item"><a class="nav-link" href={% url 'postear' %}>Agregar un nuevo destino</a>
<li class="nav-item"><a class="nav-link" href={% url 'verposteo' %}>Ver destinos</a>
<li class="nav-item"><a class="nav-link" href={% url 'desconectarse' %}>Desconectarse</a></li>
{% csrf_token %}
{% endblock %}

{% block titulo %}
{% endblock %}

{% block contenido %} 

<h1>Editar posteo </h1>
<br>
<form action="{% url 'editarposteo' posteo.id %}" method="POST" enctype="multipart/form-data">


    {% csrf_token %}
    
    {{  formularioposteo.media|safe }}
    {{  formularioposteo.as_p|safe }}

    
    <input type="submit" value="Editar Posteo">
    


</form>
<br>


{{ mensaje }}
{% endblock %}
