{% extends "PadreHome.html" %}

{% block nav %}
<a class="nav-item"><a class="nav-link" href={% url 'registrousuario' %}>Registrarse</a> {% csrf_token %}
{% csrf_token %}
{% endblock %}


{% block titulo %}
<h1 style="color:black">INGRESAR USUARIO</h1>
{% endblock %}



{% block contenido %} 
<CENTER>
    <br>
    <form action="{% url 'ingresousuario' %}" method="POST"> {% csrf_token %}
        <table>
            {{ form.as_table }}

        </table>
        <br>
        <input  class="btn btn-primary btn-s text-uppercase" type="submit" value="Ingresar">
    </form>
    <br>
    <p>¿No tenés cuenta? <a class="box" href="{% url 'registrousuario' %}"><b>Registrate</b></a> </p>
</CENTER>

{% endblock %}

