{% extends "PadreHome.html" %}

{% block avatar %}
<a class="navbar-brand" href={% url 'perfil' %}><img height="200px" src="" alt="">{{user}}</a>
<br>
<a class="navbar-brand" href={% url 'perfil' %}><img height="600px" src="{{ imagen }}" alt=""></a>
{% endblock %}

{% block nav %}
<li class="nav-item"><a class="nav-link" href={% url 'postear' %}>Agregar destino</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'verposteo' %}>Ver destinos</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'desconectarse' %}>Desconectarse</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'chat' %}>chat</a></li>
{% csrf_token %}
{% endblock %}


{% block titulo %}

{% endblock %}

{% block contenido %} 
<form method="post" action="{% url 'mensajes' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="buscar">
</form>
<br><br>

{% for mensaje1 in mensaje %}
    <p>De: {{ mensaje1.salida }}</p>
    <p>Para: {{ mensaje1.entrada }}</p>
    <p>Mensaje: {{ mensaje1.mensaje }}</p>
    <p>tiempo: {{ mensaje1.tiempo}}</p>
    {% if mensaje1.leido is true %}
    <p>mensaje leido </p>
    {% else %}
    <p>mensaje no leido</p>
    {% endif %}
    <hr>
{% endfor %}


{% endblock %}
