{% extends "PadreHome.html" %}

{% block avatar %}
<a class="navbar-brand" href={% url 'perfil' %}><img height="200px" src="" alt="">{{user}}</a>
<br>
<a class="navbar-brand" href={% url 'perfil' %}><img height="600px" src="{{ imagen }}" alt=""></a>
{% endblock %}

{% block nav %}

<li class="nav-item"><a class="nav-link" href={% url 'portal' %}>Portal</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'postear' %}>Agregar destino</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'verposteo' %}>Ver destinos</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'mensajeUsuarios' %}>Mensajería</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'desconectarse' %}>Desconectarse</a></li>
{% csrf_token %}
{% endblock %}


{% block titulo %}
<h1 style="color:black"> Encontrá tu próximo destino acá: </h1>
<br>

<form action="{% url 'buscarposteo' %}" method="GET"> 
    <input type="text" name="titulo_posteo" id="titulo_posteo">
    <input type="submit" value="buscar">

</form>
<br>
{% endblock %}


{% block contenido %} 


<CENTER>
    <br>
    <h1 style="color: #ffc800"><strong>{{ paginaposteo.titulo_posteo }}</strong></h1>
    <h3><b>{{ paginaposteo.subtitulo_posteo}}</b></h3>
    <h3><b>{{ paginaposteo.subtitulo2_posteo}}</b></h3>   

    <p>{{ paginaposteo.contenido_posteo | safe}} </p> 
    <br>
    <img height="250px" src={{ paginaposteo.imagen_post.url |safe }} alt="">
    <br>
    <br>
    <p>Creado por <em>{{ paginaposteo.usuario_posteo }}</em></p>
    <small><i>Última edición el {{ paginaposteo.fecha_posteo_imagen }} </i></small>
    <br>
    <br>
    {% if user.is_superuser or user.is_usuario_posteo %}
        <button>
            <form action="{% url 'eliminarposteo' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="borrar">
                <input type="hidden" name="id" value="{{ paginaposteo.id }}">
              </form>
            <a href="{% url "editarposteo" paginaposteo.id %}">Editar</a>
        </button>
    {% endif %}


</CENTER>




{{ mensaje }}
{% endblock %}

{% block portfolio %}
{% endblock %}