{% extends "PadreHome.html" %}

{% block avatar %}
<a class="navbar-brand" href={% url 'perfil' %}><img height="100px" src="" alt="">{{user}}</a>
<br>
<a class="navbar-brand" href={% url 'perfil' %}><img height="100px" src="{{ imagen }}" alt=""></a>
{% endblock %}

<!--- NAVBAR -->
{% block nav %}

<li class="nav-item"><a class="nav-link" href={% url 'portal' %}>Portal</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'postear' %}>Agregar destino</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'verposteo' %}>Ver destinos</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'mensajeUsuarios' %}>Mensajería</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'desconectarse' %}>Desconectarse</a></li>
    {% if user.is_superuser %}
        <li class="nav-item"><a class="nav-link" href={% url 'verusuarios' %}>Ver listado de usuarios</a></li>
    {% endif %}
    {% csrf_token %}
{% endblock %}


{% block header %}
<header style= "height: 5px" class="masthead">
{% endblock %}


{% block titulo %}
<br><br><br>
<h1 style="color:black" class="text-uppercase"> Perfil de {{ user }} </h1>    
{% endblock %}


<!--- CONTENIDO -->
{% block contenido %} 
<center>
    
    <br><br><br><br><br>
    <h3>Nombre de viajero: {{ perfil.username }}</h3>
    <br>
    <h3>Email del viajero: {{ perfil.email }}</h3>
    <br>
    <img height="200px" src={{ imagen | safe }} alt="">
    <br> 
    <br> 
    <p>{{ biografia }}</p>
    <hr width="30%">
    <a class="btn btn-primary btn-s text-uppercase" href={% url 'fotoPerfil' %}>Cambiar Foto Perfil</a>
    <a class="btn btn-primary btn-s text-uppercase" href={% url 'editarusuario' %}>Editar Usuario</a>
    <a class="btn btn-primary btn-s text-uppercase" href={% url 'agregarbiografia' %}>Agregar Biografia</a>
  

</center>

{% endblock %}

{% block portfolio %}
{% endblock %}
 


