{% extends "PadreHome.html" %}

{% block avatar %}
<a class="navbar-brand" href={% url 'perfil' user.id %}><img height="100px" src="" alt="">{{user}}</a>
<br>
<a class="navbar-brand" href={% url 'perfil' user.id %}><img height="100px" src="{{ imagen }}" alt=""></a>
{% endblock %}

<!--- NAVBAR -->
{% block nav %}
<li class="nav-item"><a class="nav-link" href={% url 'portal' %}>Portal</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'postear' %}>Agregar destino</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'verposteo' %}>Ver destinos</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'desconectarse' %}>Desconectarse</a></li>
    {% if user.is_superuser %}
        <li class="nav-item"><a class="nav-link" href={% url 'verusuarios' %}>Ver listado de usuarios</a></li>
    {% endif %}
    {% csrf_token %}
{% endblock %}

{% block bienvenida %}
    <div style="color:black" class="masthead-subheading">Perfil de {{ user }}</div>
    <br>
    
   
    


{% endblock %}

{% block titulo %}    
{% endblock %}

<!--- CONTENIDO -->
{% block contenido %} 

Nombre de viajero: {{ perfil.username }}
<br>
Email del viajero: {{ perfil.email }}
<br>

<img height="100px" src={{ imagen | safe }} alt="">
<button>
    <a href={% url 'fotoPerfil' %}>Cambiar Foto Perfil</a>
</button>



<br>
{% endblock %}

 


