{% extends "PadreHome.html" %}

{% block avatar %}
<a class="navbar-brand" href={% url 'perfil' %}><img height="200px" src="" alt="">{{user}}</a>
<br>
<a class="navbar-brand" href={% url 'perfil' %}><img height="600px" src="{{ imagen }}" alt=""></a>
{% endblock %}

{% block nav %}

<li class="nav-item"><a class="nav-link" href={% url 'portal' %}>Portal</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'postear' %}>Agregar destino</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'verposteo' %}>Ver destinos</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'mensajeUsuarios' %}>Mensajería</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'desconectarse' %}>Desconectarse</a></li>
{% csrf_token %}
{% endblock %}


{% block titulo %}
<h1 style="color:black">Agregar Posteo </h1>
{% endblock %}

{% block contenido %} 



<br>
<CENTER>
<form action="{% url 'postear' %}" method="POST" enctype="multipart/form-data"> 

    {% csrf_token %}
    
    {{ form.media|safe }}
    {{ form.as_p|safe }}

    
    <input class="btn btn-primary btn-l text-uppercase" type="submit" value="Agregar Posteo">
</form>
<br>
  
</CENTER>

{{ mensaje }}
{% endblock %}

{% block portfolio %}
{% endblock %}
