{% extends "PadreHome.html" %}

{% block nav %}
<li class="nav-item"><a class="nav-link" href={% url 'ingresousuario' %}>Ingresar</a> {% csrf_token %}
{% csrf_token %}
{% endblock %}


{% block titulo %}
{% endblock %}

{% block contenido %} 

<body>    
    <h1>Registrar usuario</h1>
    <br>
    <form action="{% url 'registrousuario' %}" method="POST"> {% csrf_token %}
        <table>
            {{ form.as_table }}

        </table>
        <input type="submit" value="Registrar Usuario">
    </form>
</body>

{% endblock %}
