{% extends "PadreHome.html" %}

{% block nav %}
<li class="nav-item"><a class="nav-link" href={% url 'ingresousuario' %}>Ingresar</a> {% csrf_token %}
{% csrf_token %}
{% endblock %}


{% block titulo %}
<h1 style="color:black">REGISTRAR USUARIO</h1>
{% endblock %}

{% block contenido %} 

<center>    
    <br>
    <form action="{% url 'registrousuario' %}" method="POST"> {% csrf_token %}
        <table>
            <h1>{{ form.as_table }}</h1>

        </table>
        <br>
        <input class="btn btn-primary btn-s text-uppercase" type="submit" value="Registrar Usuario">
    </form>
    <br>
    <p>¿Ya tenés una cuenta? <a class="box" href="{% url 'ingresousuario' %}"><b>Ingresá</b></a> </p>
</center>

{% endblock %}

{% block portfolio %}
{% endblock %}