{% extends "PadreHome.html" %}

{% block avatar %}
<a class="navbar-brand" href={% url 'perfil' user.id %}><img height="200px" src="" alt="">{{user}}</a>
<br>
<a class="navbar-brand" href={% url 'perfil' user.id %}><img height="600px" src="{{ imagen }}" alt=""></a>
{% endblock %}

{% block nav %}

<li class="nav-item"><a class="nav-link" href={% url 'portal' %}>Portal</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'postear' %}>Agregar destino</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'verposteo' %}>Ver destinos</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'mensajeUsuarios' %}>Mensajería</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'desconectarse' %}>Desconectarse</a></li>
{% csrf_token %}
{% endblock %}


{% block titulo %}
<h1 style="color:black"> Encontrá tu próximo destino acá: </h1>
<br>

<form action="{% url 'buscarposteo' %}" method="GET"> 

    <p>Buscar por destino:<input type="text" name="titulo_posteo" id="titulo_posteo"> </p>

    <input class="btn btn-primary btn-s text-uppercase" type="submit" value="buscar">
</form>


{% endblock %}


{% block contenido %} 
<center>.
{% if resultado %}
<ul>
    {% for resultado in resultado %}
        <a class="box" href={% url 'paginaposteo' resultado.id %}>
            <h3>{{resultado}}</h3>
            <h5>{{resultado.subtitulo_posteo}}</h5>
        </a>
        <img height="150px" src={{ resultado.imagen_post.url }} alt="imagen">
        <br>
        <blink>Creado por <em>{{resultado.usuario_posteo}}</em></blink>    
        <br>
        <small><i>Última edición {{resultado.fecha_posteo_imagen}}</i></small>
        <br>
        <hr width=40%>

    
    {% endfor %}
</ul>

{% else %}
<p> No se encuentran resultados </p>
{% endif %}

{{ mensaje }}    
</center>
{% endblock %}

{% block portfolio %}
{% endblock %}
