{% extends "PadreHome.html" %}

{% block avatar %}
<a class="navbar-brand" href={% url 'perfil' %}><img height="200px" src="" alt="">{{user}}</a>
<br>
<a class="navbar-brand" href={% url 'perfil' %}><img height="600px" src="{{ imagen }}" alt=""></a>
{% endblock %}

{% block nav %}
<li class="nav-item"><a class="nav-link" href={% url 'postear' %}>Agregar destino</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'verposteo' %}>Ver destinos</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'desconectarse' %}>Desconectarse</a></li>
{% csrf_token %}
{% endblock %}


{% block titulo %}
{% endblock %}


{% block contenido %} 

<h1 style="color:black"> Encontrá tu próximo destino acá: </h1>
<br>

<form action="{% url 'buscarposteo' %}" method="GET"> 

    <input type="text" name="titulo_posteo" id="titulo_posteo">

    <input type="submit" value="buscar">

</form>
<br>

{% if resultado %}
<ul>
    {% for resultado in resultado %}
        <h3>{{ resultado.titulo_posteo }}</h3>
        <h5>{{ resultado.subtitulo_posteo  }}</h5>
        <p>{{ resultado.contenido_posteo | safe }}</p>
        <img height="150px" src={{ resultado.imagen_post.url }} alt="imagen">
        <li>Posteo creado por {{ resultado.usuario_posteo }}</li>
        <br>
        <h3>---------------------------------------------</h3>
    {% endfor %}
</ul>

{% else %}
<p> No se encuentran resultados </p>
{% endif %}

{{ mensaje }}
{% endblock %}
