{% extends "PadreHome.html" %}

{% block avatar %}
<a class="navbar-brand" href={% url 'perfil' %}><img height="200px" src="" alt="">{{user}}</a>
<br>
<a class="navbar-brand" href={% url 'perfil' %}><img height="600px" src="{{ imagen }}" alt=""></a>
{% endblock %}

{% block nav %}

<li class="nav-item"><a class="nav-link" href={% url 'portal' %}>Portal</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'postear' %}>Agregar destino</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'verposteo' %}>Ver destinos</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'mensajeUsuarios' %}>Mensajería</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'desconectarse' %}>Desconectarse</a></li>
{% csrf_token %}
{% endblock %}


{% block titulo %}
<h1 style="color:black"> Encontrá tu próximo destino acá: </h1>
<br>

<form method="get" action="{% url 'buscarposteo' %}"> 
    <select name="buscar_por">
        <option value="titulo_posteo">Destino</option>
        <option value="subtitulo_posteo">Provincia</option>
        <option value="subtitulo2_posteo">Pais</option>
    </select>
    <input type="text" name="titulo_posteo" id="titulo_posteo">
    <input class="btn btn-primary btn-s text-uppercase" type="submit" value="buscar">
</form>

{% endblock %}


{% block contenido %} 



<CENTER>
{% for posteo in posteos %} {% csrf_token %} 
        <br>
        <a class="box" href={% url 'paginaposteo' posteo.id %}>
            <h3>{{posteo.titulo_posteo }}</h3>
            <h5>{{posteo.subtitulo_posteo}}</h5>
            <h5>{{posteo.subtitulo2_posteo}}</h5>
        </a>
        <img height="100px" src={{ posteo.imagen_post.url }} alt="">
        <br> 
        <blink>Creado por <em>{{posteo.usuario_posteo}}</em></blink>    
        <br>
        <small><i>Última edición {{posteo.fecha_posteo_imagen}}</i></small>
        <br>
        <hr width=40%>
{% endfor %}
<br>


{{ mensaje }}

</CENTER>
       
  


{% endblock %}

{% block portfolio %}
{% endblock %}
