{% extends "PadreHome.html" %}

{% block nav %}
<li class="nav-item"><a class="nav-link" href={% url 'desconectarse' %}>Desconectarse</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'postear' %}>Agregar un nuevo destino</a>
<li class="nav-item"><a class="nav-link" href={% url 'verposteo' %}>Ver destinos</a>
{% csrf_token %}
{% endblock %}


{% block titulo %}
{% endblock %}

{% block contenido %} 

<h1>Ver Usuarios </h1>
<br>

</head>
<body>
    {% for user in usuarios %} {% csrf_token %}
        <li>{{ user.username }} </li>
         
    {% endfor %}
</body>
</form>
<br>

{{ mensaje }}
{% endblock %}
